@import "tailwindcss";
@import "maplibre-gl/dist/maplibre-gl.css";

@theme {
  --font-sans: "Libre Franklin", ui-sans-serif, system-ui, sans-serif;
}

html,
body {
  margin: 0;
  height: 100%;
  font-family: var(--font-sans);
}
